body {
    background-image: url("../images/concrete_seamless.png");
    font-family: "Arial", sans-serif;
    line-height: 1.7em;
}

header {
    width: 100%;
    background: white;
    height: 75px;
    box-shadow: 0 2px 20px grey;
    margin: 0 0 40px 0;
}

a {
    color: grey;
    font-family: "Arial", sans-serif;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 75px;
    color: lightgrey;
    background: #666666;
    line-height: 75px;
    text-align: center;
    border-top: 10px solid #4aaaa5;
    font-size: 10px;
 }

 h1 {
    color: #4aaaa5; 
    font-family: "Times New Roman", serif;
    font-size: 30px;
 }

 input {
    width: 100%;
}

.headerContainer {
    width: 960px;
    margin: auto;
    height: 75px;
}

.logo {
    background: #4aaaa5;
    height: 75px; 
    float: left;
    width: 200px;
    color: white;
    line-height: 75px;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 30px;
}

.headerLinks {
    color: grey;
    float: right;
    line-height: 75px;
    text-align: center;
}

.container {
    width: 960px;
    height: 100px; /* 100% */
    margin: auto;
    /*background: red;*/
}

.aboutMe {
    background: white;
    width: 540px;
    height: 340px;
    float: left;
    padding: 0 30px 30px 30px;
    box-shadow: 0 2px 20px grey;
}

.aboutMeHeader {
    width: 100%;
    padding: 20px 0 10px 0;
    margin-bottom: 15px;
    border-bottom: 2px solid lightgrey;
}

.connectWithMe{
    background: white;
    width: 240px;
    padding: 30px;
    float: right;
    height: 150px;
    box-shadow: 0 2px 20px grey;
}

.connectWithMeHeader {
    font-size: 25px;
    width: 100%;
    padding: 0px 0 5px 0;
    margin-bottom: 15px;
    border-bottom: 2px solid lightgrey;
    color: #4aaaa5; 
    font-family: "Times New Roman", serif;
    text-align: center;
}

.icon {
    width: 77px;
}

.socialIconContainer {
    margin: auto;
}

.portfolio {
    background: white;
    width: 540px;
    height: 670px;
    float: left;
    padding: 0 30px 30px 30px;
    box-shadow: 0 2px 20px grey;
    position: relative;
}

.portfolioImg {
    width: 250px;
    margin: 0 0 15px 0;
    box-shadow: 0 1px 5px grey;
}

.imgRight {
    float: right;
}

.imgLeft {
    float: left;
}

.portfolioItems {
    height: 100%;
    width: 100%;
}

#contactForm {
    color: #666666;
    font-size: 14px;
}

#messageText {
    height: 80px;
    resize: both;
}

#aboutMeImg {
    width: 200px;
    float: left;
    margin: 0 20px 15px 0;
    box-shadow: 0 1px 5px grey;
}

input[type=button], input[type=submit], input[type=reset] {
    background: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    margin: 10px 0 0 0;
    cursor: pointer;
    width: 150px;
}